.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.results > div {
    border: 1px solid black;
    padding: 16px;
    width: auto;
}

.book-id {
    display: none;
}